.section__title {
    text-align: center;
    padding: 70px 0;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.04em;
    border-bottom: 1px solid #e8e8e8;
}

.section__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__filter_left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.section__filter {
    padding: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.section__filter_name {
    cursor: pointer;
}

.section__filter_name span {
    font-weight: 600;
}

.section__filter_arrow {
    transition: all 0.3s ease;
    cursor: pointer;
}

.section__filter_arrow_rotate {
    transition: all 0.3s ease;
    transform: rotate(180deg);
    cursor: pointer;
}

.section__filter_categories {
    background-color: #ffffff;
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 50;
    width: 240px;
    padding: 15px;
    z-index: 100;
}

.section__filter_size {
    background-color: #ffffff;
    position: absolute;
    top: 55px;
    left: -5px;
    z-index: 50;
    width: 110px;
    padding: 15px;
}

.section__filter_colors {
    background-color: #ffffff;
    position: absolute;
    top: 55px;
    left: -5px;
    z-index: 50;
    width: 125px;
    padding: 15px;
    z-index: 100;
}

.section__filter_category {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.section__filter_button_active {
    width: 17px;
    height: 17px;
    background-color: #000000;
    background-image: url('../../img/Vector.svg');
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #000000;
    border-radius: 2px;
    cursor: pointer;
}

.section__filter_button {
    width: 17px;
    height: 17px;
    border: 1px solid #b0b0b0;
    border-radius: 2px;
    cursor: pointer;
}

.showmore__button {
    cursor: pointer;
    display: block;
    margin: 20px auto 100px;
    padding: 10px 20px;
    background: #282828;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #282828;
}

.showmore__button:hover {
    color: #282828;
    background-color: #ffffff;
    border: 1px solid #282828;
}

.section__items {
    position: relative;
}

.section__img1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
}

.section__img2 {
    position: absolute;
    bottom: 539px;
    left: 0;
    z-index: 50;
}

.section__row_items {
    display: flex;
    row-gap: 40px;
    column-gap: 20px;
    flex-wrap: wrap;
}
