.ski__section {
    position: relative;
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.ski__left {
    position: relative;
}

.ski__left img {
    max-width: 1165px;
    height: 100%;
    object-fit: cover;
}

.ski__title {
    position: absolute;
    bottom: 0;
    left: 20px;
    font-weight: 500;
    font-size: 200px;
    line-height: 90%;
    color: #ffffff;
    text-shadow: 1px solid #909090;
}

.ski__right img {
}

.ski__image_small {
    display: flex;
    align-items: flex-end;
}

.showmore img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 131px;
    height: 131px;
}

@media (max-width: 1640px) {
    .ski__right {
        display: none;
    }
    .showmore {
        display: none;
    }
    .ski__left {
        width: 100%;
    }
    .ski__left img {
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 1200px) {
    .ski__title {
        font-size: 140px;
    }
}

@media (max-width: 950px) {
    .ski__title {
        font-size: 100px;
    }
}

@media (max-width: 720px) {
    .ski__title {
        font-size: 80px;
    }
    .ski__section {
        margin-bottom: 50px;
    }
}

@media (max-width: 590px) {
    .ski__title {
        font-size: 60px;
    }
}

@media (max-width: 410px) {
    .ski__title {
        font-size: 44px;
    }
}

@media (max-width: 320px) {
    .ski__title {
        font-size: 36px;
    }
}
