.pets {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 150px;
}

.pets__images {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.pets__images div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pets__description {
    max-width: 350px;
    padding-right: 10px;
}

.pets__description_title {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pets__description_text {
    font-weight: 500;
    font-size: 25px;
    line-height: 120%;
}

.pets__description_label {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 1100px) {
    .pets__description {
        max-width: 300px;
    }
    .pets__description_text {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }
    .pets__images div:nth-child(1) {
        display: none;
    }
}

@media (max-width: 800px) {
    .pets__description_label a img {
        height: 90px;
        width: 90px;
    }
}

@media (max-width: 700px) {
    .pets {
        margin-bottom: 60px;
    }

    .pets__description {
        max-width: 240px;
    }

    .pets__description_title {
        font-size: 30px;
    }

    .pets__description_text {
        font-size: 16px;
    }
}

@media (max-width: 620px) {
    .pets__description_label a img {
        display: none;
    }
}

@media (max-width: 500px) {
    .pets {
        flex-direction: column;
    }
    .pets__description_title {
        font-size: 26px;
    }
    .pets__description_text {
        font-size: 14px;
    }

    .pets__description {
        max-width: none;
        margin-bottom: 20px;
    }
}
