.blue {
    position: relative;
    margin-bottom: 150px;
}

.blue__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.blue__text {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.blue__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-decoration-line: underline;
}

.blue__images {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.blue__showmore {
    position: absolute;
    bottom: 0;
    right: 0;
}
