.bestsellers {
    margin-bottom: 150px;
}

.bestsellers__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.bestsellers__items {
    display: flex;
    justify-content: space-between;
}

.bestsellers__text {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.bestsellers__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-decoration-line: underline;
    transition: all 0.5s ease;
}

.bestsellers__link:hover {
    transform: scale(1.05);
}

.bestsellers__items_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bestsellers__bigimg img {
    transition: all 0.5s ease;
}

.bestsellers__bigimg:hover img {
    transform: scale(1.03);
}
