header {
    border-bottom: 1px solid #dcdcdc;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    top: -2px;
}

.header__nav {
    height: 50px;
    vertical-align: baseline;
    padding: 18px 0;
}

.header__categories {
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__category {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    transform: all 0.3s ease;
}

.header__category:hover {
    text-decoration: underline;
    color: black;
    transform: scale(1.15);
}

.header__rightside {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__submenu {
    padding: 20px;
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    z-index: 50;
    top: 51px;
    left: 0;
}

.header__subcategories {
    max-width: 1560px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_title {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.header_subtitle {
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.header_subtitle:hover {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}

.header__cart {
    position: relative;
    cursor: pointer;
    background-color: #ffffff;
    transform: all 0.3s ease;
}

.cart__badge {
    position: absolute;
    font-size: 10px;
    top: -3px;
    right: -3px;
    z-index: 30px;
    color: #ffffff;
    background-color: cornflowerblue;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.header__burger {
    display: none;
}

.burger__arrow {
    background-color: #ffffff;
    display: flex;
    justify-content: end;
    width: 150px;
}

@media (max-width: 1300px) {
    .header__categories {
        gap: 25px;
    }
}

@media (max-width: 1200px) {
    .header__category_mobile {
        display: none;
    }
}

@media (min-width: 840px) {
    .header__cart:hover img {
        transform: scale(1.7);
    }

    .header__cart:hover .cart__badge {
        transform: scale(1.3);
    }
}

@media (max-width: 840px) {
    .header__nav {
        display: none;
    }

    .header__categories {
        display: none;
    }

    .header__categories_mobile {
        position: fixed;
        top: 51px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        padding: 20px 20px;
        transition: left 0.3s ease 0s;
        overflow: auto;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header__category_section {
        width: 100%;
    }

    .header__category_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__category {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #282828;
    }

    .header__burger {
        display: block;
        background-color: #ffffff;
    }

    .header__cart img {
        width: 24px;
        height: 24px;
    }

    .header__burger img {
        width: 24px;
        height: 24px;
    }
    .header__user {
        width: 22px;
        height: 22px;
    }

    .header__favorite {
        display: none;
    }
    .arrow_rotate {
        transform: rotate(90deg);
    }
}
