body {
    font-weight: 500;
    font-size: 16px;
    color: #282828;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

.container {
    max-width: 1560px;
    margin: 0 auto;
}

.hidden {
    overflow: hidden;
}

/* Color Item Buttons */

.item__cart_color_button_white {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 80px;
}
.item__cart_color_button_white:hover,
.item__cart_color_button_black:hover,
.item__cart_color_button_brown:hover,
.item__cart_color_button_green:hover,
.item__cart_color_button_orange:hover {
    border: 1px solid red;
}
.item__cart_color_button_black {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #282828;
    border: 1px solid #e8e8e8;
    border-radius: 80px;
}
.item__cart_color_button_brown {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #7b560e;
    border: 1px solid #e8e8e8;
    border-radius: 80px;
}
.item__cart_color_button_green {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #214f41;
    border: 1px solid #e8e8e8;
    border-radius: 80px;
}
.item__cart_color_button_orange {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #ff8b03;
    border: 1px solid #e8e8e8;
    border-radius: 80px;
}
@media (max-width: 1640px) {
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
}

@media (max-width: 1480px) {
    .container {
        max-width: 1300px;
        margin: 0 auto;
    }
}

@media (max-width: 1400px) {
    .container {
        max-width: none;
        margin: 0 20px;
    }
}

@media (min-width: 800px) {
    .swiper-slide-active img {
        width: 770px;
        height: 1018px;
    }

    .swiper-slide-active {
        width: 770px !important;
    }
    .swiper-slide-active div {
        display: none;
    }

    .swiper-slide-next,
    .swiper-slide-prev {
        max-width: 375px;
    }
    .swiper {
        position: relative;
    }
}
