.mx {
    margin-bottom: 150px;
}

.mx__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.mx__title_text {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.mx__title_link {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-decoration-line: underline;
    transition: all 0.5s ease;
}

.mx__title_link:hover {
    transform: scale(1.03);
}

.mx__slider {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.swiper__img {
    width: 375px;
    height: 470px;
    transition: all 0.5s ease;
}

.swiper__img:hover {
    transform: scale(1.03);
}

.swiper__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nextslide,
.prevslide {
    cursor: pointer;
    transition: all 0.5s ease;
}

.nextslide {
    transform: rotate(180deg);
}

.nextslide:hover {
    transform: scale(1.1) rotate(180deg);
}

.prevslide:hover {
    transform: scale(1.1);
}

.item_description {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.item_price {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #7a7a7a;
}

@media (max-width: 1640px) {
    .mx {
        display: none;
    }
}
